modules = ["python-3.12", "nodejs-20", "bash", "web"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"
packages = ["cargo", "freetype", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "libyaml", "ocl-icd", "opencl-headers", "openjpeg", "openssl", "pkg-config", "postgresql", "rustc", "tcl", "tk", "xsimd", "zlib"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]

[[ports]]
localPort = 3000
externalPort = 80
